# --- Server Settings ---
SERVER_DOMAIN=tunnel.vpskamu.com
SERVER_PORT=443
TUNNEL_PORT=9443
DASHBOARD_PORT=8081

# --- JWT Auth ---
JWT_SECRET=supersecretjwtkey

# --- ACME / Let's Encrypt ---
ACME_CACHE=./cert-cache
