# Koneksi ke listener tunnel (di VPS)
tunnel_addr: "tunnel.vpskamu.com:9443"
skip_tls_verify: false

# JWT Auth (harus cocok dengan server)
jwt_secret: "supersecretjwtkey"
jwt_issuer: "mytunnel"
jwt_expire_sec: 3600

# Mapping host -> target lokal
tunnels:
  - hostname: "app.vpskamu.com"
    target: "127.0.0.1:8080"
    mode: "http"
  - hostname: "ssh.vpskamu.com"
    target: "127.0.0.1:22"
    mode: "tcp"
